<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hackathon Twilio</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="main">
      <span class="hack">Cloud Native</span>
      <br />
      <span class="hack">Hackathon</span>
      <br />
      <br />
      <img src="./twilio.png" alt="twilio" />
      <br />
      <br />
      <span class="title">Hack: </span>
      <span class="project">WhatsApp Calculator</span>
    </div>
  </body>
</html>
